.car-image img{
    height: 300px;
    width: 350px;
    margin-right: 20px;
}
.container{
    display: flex;
    margin: 30px 10px;
}
.car-btn{
    height: 30px;
    width: 100px;
    color: aliceblue;
    background-color: blue;
}
.review{
    border: 1px solid royalblue;
    margin: 30px 30px;
}
.btn-all{
    height: 30px;
    width: 100px;
    color: aliceblue;
    background-color: blue;
    margin-bottom: 30px; 
}